# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Rust Build
rust/df3-ios/target/*
ios/ClaritySync/Vendor/*

# SwiftPM
.build/

# CocoaPods (if used later)
Pods/

# fastlane (if used later)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store

